= provide(:title, "#{current_user.empresa_forestal.nombre } - Reporte Masa Forestal por Parcela")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Inventario Estático - Nivel Parcela
      %br
      Reporte de la Masa Forestal por Parcela
      %i.fa.fa-bar-chart
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Reporte de la Masa Forestal por Parcela
.wrapper.wrapper-content.animated.fadeInRight
  .row.form-horizontal
    .col-sm-4
      .form-group
        = label_tag :subcuenca, class: 'col-sm-4 control-label' do
          Subcuenca:
        .col-sm-8
          = text_field_tag :subcuenca, current_user.unidad_manejo.nombre, class: 'form-control', readonly: true
    .col-sm-4
      .form-group
        = label_tag :tipo_parcela_inventario, class: 'col-sm-4 control-label' do
          Inventario de:
        .col-sm-8
          = select_tag :tipo_parcela_inventario, options_from_collection_for_select(TipoParcelaInventario.all, :id, :tipo_human), {include_blank: 'Tipo de Parcela de Inventario', class: 'form-control', id: 'tipo_parcela_inventario_select'}
    .col-sm-4
      .form-group
        = label_tag :especificacion_diametrica, class: 'col-sm-4 control-label' do
          Especificación Diamétrica >=
        .col-sm-8
          = text_field_tag :especificacion_diametrica, nil, class: 'form-control', id: 'especificacion_diametrica_field'

  = render 'inventario_estatico/shared/criterio_floristico'
  %br
  .row
    .col-sm-2.col-sm-offset-5
      %a.btn.btn-primary.btn-block#procesar_masa_parcela{href: '#'}
        Procesar
  %br
  %br
  %div#table_reporte_masa_parcela_div
  .row#loading_reporte_masa_parcela{style:'display:none;'}
    .col-sm-2.col-sm-offset-5.text-center
      %h2
        Procesando
        %br
        %i.fa.fa-refresh.fa-spin.fa-2x


  -#  .col-sm-3
  -#    .form-group
  -#      = label_tag :ubicacion, class: 'col-sm-4 control-label' do
  -#        Nivel Mall:
  -#        &nbsp;
  -#      .col-sm-8
  -#        = collection_select :ubicacion, nil, current_user.mall.nivel_malls, :id, :nombre, {include_blank: 'Todos'}, {class: 'form-control tienda-filter', id:'nivel_mall_select_tiendas'}
  -#  .col-sm-3
  -#    .form-group
  -#      = label_tag :actividad_economica, class: 'col-sm-4 control-label' do
  -#        Actividad Económica:
  -#        &nbsp;
  -#      .col-sm-8
  -#        = collection_select :actividad_economica, nil, current_user.mall.actividad_economicas, :id, :nombre, {include_blank: 'Todas'}, {class: 'form-control tienda-filter', id:'actividad_economica_select_tiendas'}
  -#  .col-sm-2
  -#    .form-group
  -#      = label_tag :tipo_local, class: 'col-sm-4 control-label' do
  -#        Tipo de Local:
  -#        &nbsp;
  -#      .col-sm-8
  -#        = collection_select :tipo_local, nil, TipoLocal.all, :id, :tipo, {include_blank: 'Todos'}, {class: 'form-control tienda-filter', id:'tipo_local_select_tiendas'}
  -#.row
  -#  .col-md-1
  -#    %h3
  -#      Criterio:
  -#  .col-sm-1
  -#    = radio_button_tag :stats, 'tiendas', true, class: 'criterio'
  -#    Tienda
  -#  .col-sm-1
  -#    = radio_button_tag :stats, 'nivel_mall', false, class: 'criterio'
  -#    Nivel Mall
  -#  .col-sm-1
  -#    = radio_button_tag :stats, 'actividad_economica', false, class: 'criterio'
  -#    Actividad Económica
  -#  .col-sm-1
  -#    = radio_button_tag :stats, 'tipo_local', false, class: 'criterio'
  -#    Tipo de Local
  -#  .col-sm-3
  -#    %div#mista_onetake
  -#      %a.btn.btn-mall.btn-block#mista_onetake_button{href: '#'}
  -#        Buscar
  -#%hr
  -#%div#table_intermensuales
  -#.row#loading_intermensuales{style:'display:none;'}
  -#  .col-sm-3.col-sm-offset-4.text-center
  -#    %h2
  -#      Buscando
  -#      %br
  -#      %i.fa.fa-refresh.fa-spin.fa-2x