%table.table.table-striped.table-bordered.table-condensed.tree-edt
  %thead
    %tr
      %th
        Municipios Seleccionados
  %tbody{id: 'table-body-estado'}
    -row_edt = 0
    -prev_estado_id = -1
    -row_edt_parent = 0
    - Municipio.where(id: modelo.object.municipios.pluck(:id)).reorder(:estado_id).each do |m|
      -if (prev_estado_id == -1 or prev_estado_id != m.estado_id)
        %tr{class: "treegrid-#{row_edt}", id: "estado-#{m.estado_id}"}
          %td
            = m.estado.nombre
        -row_edt_parent = row_edt
        -row_edt+=1
        -prev_estado_id = m.estado_id
      %tr{class: "treegrid-#{row_edt} treegrid-parent-#{row_edt_parent}", id: "municipio-#{m.id}"}
        %td
          = m.nombre
      -row_edt+=1