= form_for @parcela_inventario, url: {action: :wf_save_estatico}, html: {class: 'form-horizontal', id: 'form-parcela-inventario-1'} do |f|
  = csrf_meta_tag
  %br
  .row.border-bottom.white-bg
    .col-md-12
      .row
        .col-md-4
          .form-group
            = f.label :coord_norte_utm, class: 'col-sm-5 control-label' do
              Coordenada UTM - Norte:
            .col-sm-7
              = f.text_field :coord_norte_utm, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :coord_este_utm, class: 'col-sm-5 control-label' do
              Coordenada UTM - Este:
            .col-sm-7
              = f.text_field :coord_este_utm, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :azimut, class: 'col-sm-5 control-label' do
              Dirección - Azimut:
            .col-sm-7
              = f.text_field :azimut, class: 'form-control'
      .row
        .col-md-12
          %h3
            Medición de Inventario
          .row.form-horizontal
            .col-md-4
              .form-group
                = label_tag :numero_arboles, class: 'col-sm-5 control-label' do
                  Nro. Árboles a Registrar:
                .col-sm-7
                  = text_field_tag :numero_arboles, nil,  class: 'form-control', id: 'nro_arboles_registrar', maxlength: 3
            .col-md-4
              .form-group
                = label_tag :tipo_parcela_inventario, class: 'col-sm-5 control-label' do
                  Tipo de Inventario
                .col-sm-7
                  = select_tag :tipo_parcela_inventario, options_from_collection_for_select(TipoParcelaInventario.all, :id, :tipo_human), {include_blank: 'Tipo de Parcela de Inventario', class: 'form-control', id: 'tipo_parcela_inventario_select'}
                  = hidden_field_tag :parcela_manejo_id, params[:parcela_id], id: 'parcela_manejo_id'

  %div#form_tipo_parcela
    .text-center#loading_form_tipo_parcela{style: 'display:none;'}
      %h1
        %i.fa.fa-spin.fa-spinner
  %div#nro_arboles_nulo.text-center{style: 'display:none'}
    %h2
      Debe ingresar un número de árboles a registrar
