= provide(:title, "Mediciones de Inventario Est치tico")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-expand
      Mediciones de Inventario Est치tico
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Mediciones de Inventario Est치tico
.wrapper.wrapper-content.animated.fadeInRight#pagina_index_tiendas
  .row.border-bottom.white-bg
    .col-lg-12
      %h2
        Ubicaci칩n
      .row.form-horizontal
        .col-md-6
          .form-group
            = label_tag :subcuenca, class: 'col-sm-4 control-label' do
              Subcuenca:
            .col-sm-8
              = text_field_tag :subcuenca, current_user.unidad_manejo.nombre ,  class: 'form-control', readonly: true
        .col-md-6
          .form-group
            = label_tag :bloque_manejo, class: 'col-sm-4 control-label' do
              Bloque de Manejo:
            .col-sm-8
              = select_tag :bloque_manejo, options_from_collection_for_select(BloqueManejo.where(unidad_manejo_id: current_user.unidad_manejo_id), :id, :codigo), include_blank: 'Seleccione un bloque de manejo', class: 'form-control'

  %div#parcela_inventario_medicion
    .text-center#loading_parcela{style: 'display:none;'}
      %h1
        %i.fa.fa-spin.fa-spinner

