.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-cogs
      Ajustes
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Ajustes
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12.col-sm-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Asignación de Subcuenca de Trabajo
            %i.fa.fa-leaf
        .ibox-content
          .row
            .col-md-12
              .form-horizontal
                .form-group
                  = label_tag :cuenca, class: 'col-sm-2 control-label' do
                    Cuenca:
                  .col-sm-10
                    = collection_select nil, :bo, BloqueOrdenacion.valid_cuencas, :id, :nombre,
                           {include_blank: 'Seleccione una Cuenca'},
                           { data: { dynamic_selectable_url: dynamic_select_dynamic_subcuencas_path(':bo'),
                            dynamic_selectable_target: '#settings_subcuenca' },
                            class: 'form-control'}
                .form-group
                  = label_tag :subcuenca, class: 'col-sm-2 control-label' do
                    Subcuenca:
                  .col-sm-10
                    = collection_select nil, :id , [], :id, :nombre, {prompt: 'Seleccione una Subcuenca' }, {class: 'form-control', id: 'settings_subcuenca'}
