= provide(:title, "Listar Unidades de Ordenación")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-list-ol
      Unidades de Ordenación
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Unidades de Ordenación
.wrapper.wrapper-content.animated.fadeInRight
  - if @unidad_ordenaciones.empty?
    - if can? :create, UnidadOrdenacion
      .row
        .col-md-12.col-md-offset-0
          %ul.text-muted.leyenda
            %li.text-justify
              Puede registrar una Unidad de Ordenación haciendo click en
              %span.amarillo
                Nueva Unidad
    .ibox-content.text-center
      %h3.font-bold No hay Unidades de Ordenación Registradas
      - if can? :create, UnidadOrdenacion
        =link_to  'Nueva Empresa',new_unidad_ordenacion_path ,  class: 'btn btn-primary pull-center'
  -else
    .row
      .col-md-12.col-md-offset-0
        .ibox.float-e-margins
          .ibox-content
            .col-sm-2
              - if can? :create, UnidadOrdenacion
                = link_to new_unidad_ordenacion_path, class: 'btn btn-primary btn-block' do
                  Nueva Unidad
                  %i.fa.fa-plus
          %br
          %br
          .row
            .col-md-12
              .table-responsive
                %table.table.table-striped.table-bordered.table-hover.datatable-table
                  %thead
                    %tr
                      %th Codigo
                      %th Reserva Forestal
                      %th Nro Contrato
                      %th Fecha de Otorgacion
                      %th Fecha Vence
                      %th Area(ha)
                      %th Acciones
                      %th Zonas
                      %th Cuencas
                  %tbody
                    - @unidad_ordenaciones.each do |unidad_ordenacion|
                      %tr
                        %td= unidad_ordenacion.codigo
                        %td= unidad_ordenacion.reserva_forestal.nombre
                        %td= unidad_ordenacion.nro_contrato
                        %td= unidad_ordenacion.fecha_otorgacion
                        %td= unidad_ordenacion.fecha_vence
                        %td= unidad_ordenacion.area
                        %td
                          - if can? :view, UnidadOrdenacion
                            = link_to unidad_ordenacion_path(unidad_ordenacion),  rel: 'tooltip',  title: 'Ver' do
                              %i.fa.fa-search
                          - if can? :update, UnidadOrdenacion
                            = link_to edit_unidad_ordenacion_path(unidad_ordenacion), 'data-toggle'=> 'tooltip', 'data-placement' => 'left',  'title' => 'Editar' do
                              %i.fa.fa-edit
                          - if can? :destroy, UnidadOrdenacion
                            = link_to reserva_forestal_path(unidad_ordenacion), method: :delete, 'data-toggle'=> 'tooltip', 'data-placement' => 'left',  'title' => 'Eliminar' do
                              %i.fa.fa-trash
                        %td
                          = link_to zonas_ordenamiento_path() do
                            Zonas
                        %td
                          = link_to unidad_ordenacion_bloque_ordenacions_path() do
                            Cuencas