= provide(:title, "Mostrar Unidad de Ordenación")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    .col-lg-10
      %h2
        %i.fa.fa-list-ol
        Unidades de Ordenación
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Unidades de Ordenación', unidad_ordenaciones_path
      %li.active
        %strong
          Unidad de Ordenación
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Unidad de Ordenación
        .ibox-content
          .row
            .col-sm-5
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td.text-right
                      %strong Reserva forestal:
                    %td= @unidad_ordenacion.reserva_forestal.nombre
                  %tr
                    %td.text-right
                      %strong Codigo:
                    %td= @unidad_ordenacion.codigo
                  %tr
                    %td.text-right
                      %strong Nro contrato:
                    %td= @unidad_ordenacion.nro_contrato
                  %tr
                    %td.text-right
                      %strong Fecha otorgacion:
                    %td= @unidad_ordenacion.fecha_otorgamiento
                  %tr
                    %td.text-right
                      %strong Fecha vence:
                    %td= @unidad_ordenacion.fecha_vencimiento
                  %tr
                    %td.text-right
                      %strong Area:
                    %td= @unidad_ordenacion.area
                  %tr
                    %td.text-right
                      %strong Descripcion:
                    %td= @unidad_ordenacion.descripcion
.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-sm-2
            = link_to 'Listar Unidades de Ordenación',
            unidad_ordenaciones_path,
            class: "btn btn-info"
          .col-sm-3.pull-right
            = link_to 'Editar Unidad de Ordenación',
            edit_unidad_ordenacion_path(@unidad_ordenacion),
            class: "btn btn-success"

%br
%br
%br
