<%= form_for(@zona_ordenamiento) do |f| %>
  <% if @zona_ordenamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zona_ordenamiento.errors.count, "error") %> prohibited this zona_ordenamiento from being saved:</h2>

      <ul>
      <% @zona_ordenamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :abreviado %><br>
    <%= f.text_field :abreviado %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_area :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :usos %><br>
    <%= f.text_field :usos %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
