<h1>Listing zonas_ordenamiento</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviado</th>
      <th>Ubicacion</th>
      <th>Area</th>
      <th>Usos</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zonas_ordenamiento.each do |zona_ordenamiento| %>
      <tr>
        <td><%= zona_ordenamiento.nombre %></td>
        <td><%= zona_ordenamiento.abreviado %></td>
        <td><%= zona_ordenamiento.ubicacion %></td>
        <td><%= zona_ordenamiento.area %></td>
        <td><%= zona_ordenamiento.usos %></td>
        <td><%= zona_ordenamiento.descripcion %></td>
        <td><%= link_to 'Show', zona_ordenamiento %></td>
        <td><%= link_to 'Edit', edit_zona_ordenamiento_path(zona_ordenamiento) %></td>
        <td><%= link_to 'Destroy', zona_ordenamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zona ordenamiento', new_zona_ordenamiento_path %>
