= provide(:title, 'Nueva Zona de Ordenamiento')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-cubes
      Zonas de Ordenamiento
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Reservas Forestales', reserva_forestales_path
      %li
        = link_to 'Unidades de Ordenacion', unidad_ordenaciones_path
      %li.active
        %strong
          Nueva Zona Ordenamiento
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'