<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @zona_ordenamiento.nombre %>
</p>

<p>
  <strong>Abreviado:</strong>
  <%= @zona_ordenamiento.abreviado %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @zona_ordenamiento.ubicacion %>
</p>

<p>
  <strong>Area:</strong>
  <%= @zona_ordenamiento.area %>
</p>

<p>
  <strong>Usos:</strong>
  <%= @zona_ordenamiento.usos %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @zona_ordenamiento.descripcion %>
</p>

<%= link_to 'Edit', edit_zona_ordenamiento_path(@zona_ordenamiento) %> |
<%= link_to 'Back', zonas_ordenamiento_path %>
