= provide(:title, 'Ver Zona de Ordenamiento')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-cubes
      Zonas de Ordenamiento
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Reservas Forestales', reserva_forestales_path
      %li
        = link_to 'Unidades de Ordenacion', unidad_ordenaciones_path
      %li.active
        %strong
          Zona Ordenamiento
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Zona Ordenamiento
        .ibox-content
          .row
            .col-sm-5
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td.text-right
                      %strong Nombre:
                    %td
                      = @zona_ordenamiento.nombre
                  %tr
                    %td.text-right
                      %strong Abreviado:
                    %td
                      = @zona_ordenamiento.abreviado
                  %tr
                    %td.text-right
                      %strong Ubicacion:
                    %td
                      = @zona_ordenamiento.ubicacion
                  %tr
                    %td.text-right
                      %strong Area:
                    %td
                      = @zona_ordenamiento.area
                  %tr
                    %td.text-right
                      %strong Usos:
                    %td
                      = @zona_ordenamiento.usos
                  %tr
                    %td.text-right
                      %strong Descripcion:
                    %td
                      = @zona_ordenamiento.descripcion
-#-if @zona_ordenamiento.documentos.present?
-#= render 'shared/documentos/modelo_documentos', model: @zonas_ordenamiento,nombre_vista_param: :registro_zona_ordenamiento

.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-sm-3
            = link_to zonas_ordenamiento_path, class: 'btn btn-success' do
              %i.fa.fa-arrow-left
              Listar Zonas de Ordenamiento
          .col-sm-3.pull-right
            = link_to edit_zona_ordenamiento_path(@zona_ordenamiento), class: 'btn btn-primary' do
              Editar
              %i.fa.fa-edit