= provide(:title, "#{current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Simapro'} - Cuencas")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-pagelines
      = current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Reserva'
      \- Cuencas
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Cuencas', unidad_ordenacion_bloque_ordenacions_path
      %li.active
        %strong
          Datos de la Cuenca
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Cuenca
        .ibox-content
          .row
            .col-sm-3
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td
                      %strong Nombre:
                    %td= @bloque_ordenacion.nombre
                  %tr
                    %td
                      %strong Nombre Abreviado:
                    %td= @bloque_ordenacion.abreviado
                  %tr
                    %td
                      %strong Reserva Forestal:
                    %td= @bloque_ordenacion.unidad_ordenacion.reserva_forestal.nombre rescue ''
                  %tr
                    %td
                      %strong Unidad de Ordenación:
                    %td= @bloque_ordenacion.unidad_ordenacion.nombre rescue ''
                  %tr
                    %td
                      %strong Área:
                    %td= @bloque_ordenacion.area
                  %tr
                    %td
                      %strong Descripción:
                    %td= @bloque_ordenacion.descripcion
          .row
            .col-sm-3
              = link_to unidad_ordenacion_bloque_ordenacions_path, class: 'btn btn-success' do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-3
              = link_to unidad_ordenacion_bloque_ordenacion_edit_path(id: @bloque_ordenacion), class: 'btn btn-primary' do
                Editar
                %i.fa.fa-edit