= render partial: 'title'
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-leaf
      = current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Reserva'
      \-
      Subcuencas
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to "Subcuencas", unidad_ordenacion_unidad_manejos_all_path
      %li.active
        %strong
          Nueva

.wrapper.wrapper-content.animated.fadeInRight#pagina_index_tiendas
  = form_for @unidad_manejo, url: { acion: :create_all }, method: :post , html: {id: 'form_unidad_manejo'} do |f|
    = render 'fields', f: f