= form_for @<%= singular_table_name %>, html: { class: "form-horizontal", role: "form" } do |f|
  -#= render 'shared/error_messages', object: f.object, model: 'Cuenca'

  .ibox.float-e-margins
    .ibox-content.border-bottom.form-horizontal
<% for attribute in attributes -%>
      .form-group
        = f.label :<%= attribute.name %>, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'
<% end -%>
      .form-group
        .col-sm-3
          = link_to <%= index_helper %>_path, class: 'btn btn-success' do
            %i.fa.fa-arrow-left
            Regresar
        .col-sm-3.col-sm-offset-6
          = f.submit class: 'btn btn-primary'
