= form_for @reserva_forestal, html: { class: "form-horizontal form_include_ubicacion_territorial", role: "form" } do |f|
  = render 'shared/error_messages', object: f.object, model: 'Reserva Forestal'

  .ibox.float-e-margins
    .ibox-content.border-bottom.form-horizontal
      -#.form-group
      -#  = f.label :empresa_forestal, class: 'col-sm-2 control-label'
      -#  .col-sm-10
      -#    = f.text_field :empresa_forestal, class: 'form-control'
      .form-group
        = f.label :nombre, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nombre, class: 'form-control'
      .form-group
        = f.label :abreviado, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :abreviado, class: 'form-control'
      .form-group
        = f.label :fecha_creacion, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.date_select :fecha_creacion, class: 'form-control'
      .form-group
        = f.label :fecha_reglamento, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.date_select :fecha_reglamento, class: 'form-control'
      .form-group
        = f.label :area, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :area, class: 'form-control'
      .form-group
        = f.label :descripcion, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :descripcion, class: 'form-control', rows: 5
      =render 'shared/documentos/show_modelo_documentos_no_paginados', model: f, list_documents: load_documentos(:reserva_forestal_docs, @reserva_forestal,true)
      .form-group
        =render 'shared/ubicacion_territorial/modal', modelo: f
      .form-group
        .col-sm-3
          = link_to reserva_forestales_path, class: 'btn btn-success btn-block' do
            %i.fa.fa-arrow-left
            Volver
        .col-sm-3.col-sm-offset-6
          = f.button class: "btn btn-primary btn-block", data: {disable_with: 'Guardar'} do
            Guardar
            %i.fa.fa-floppy-o
      -#
      -#.form-group
      -#  .col-sm-offset-2.col-sm-10
      -#    = f.submit class: 'btn btn-primary'
