= provide(:title, "Simapro - Reserva Forestal")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-pagelines
      = current_user.unidad_ordenacion.reserva_forestal.nombre rescue ''
      Reserva Forestal
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Información Reserva Forestal
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Reserva Forestal
        .ibox-content
          .row
            .col-sm-5
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td.text-right
                      %strong Empresa forestal:
                    %td= @reserva_forestal.empresa_forestal.nombre
                  %tr
                    %td.text-right
                      %strong Nombre:
                    %td= @reserva_forestal.nombre
                  %tr
                    %td.text-right
                      %strong Nombre Abreviado:
                    %td= @reserva_forestal.abreviado
                  %tr
                    %td.text-right
                      %strong Fecha de creación:
                    %td= @reserva_forestal.fecha_creacion
                  %tr
                    %td.text-right
                      %strong Fecha del Reglamento de Uso:
                    %td= @reserva_forestal.fecha_reglamento
                  %tr
                    %td.text-right
                      %strong Área (ha):
                    %td= @reserva_forestal.area
                  %tr
                    %td.text-right
                      %strong Descripción:
                    %td= @reserva_forestal.descripcion
          .row
            .col-sm-3
              = link_to reserva_forestales_path, class: 'btn btn-success' do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-3
              = link_to edit_reserva_forestal_path(@reserva_forestal), class: 'btn btn-primary' do
                Editar
                %i.fa.fa-edit