= provide(:title, 'Listar Empresas Forestales')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Empresas Forestales
      %span
        %i.fa.fa-building

.wrapper.wrapper-content.animated.fadeInRight
  - if @empresas_forestales.empty?
    - if can? :create, EmpresaForestal
      .row
        .col-md-12.col-md-offset-0
          %ul.text-muted.leyenda
            %li.text-justify
              Puede registrar una Empresa Forestal haciendo click en
              %span.amarillo
                Nueva Empresa
    .ibox-content.text-center
      %h3.font-bold No hay Empresas Forestales Registradas
      - if can? :create, EmpresaForestal
        =link_to  'Nueva Empresa',new_empresa_forestal_path ,  class: 'btn btn-warning pull-center'
  -else
    .row
      .col-md-12.col-md-offset-0
        .ibox.float-e-margins
          .ibox-content
            .col-sm-2
              - if can? :create, EmpresaForestal
                = link_to 'Nueva Empresa', new_empresa_forestal_path, class: "btn btn-primary btn-block"
            %br
            %br
            %br
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Nombre
                  %th Abreviado
                  %th RIF
                  %th Direccion
                  %th Teléfono
                  %th País
                  %th.text-center{colspan:3} Acciones
              %tbody
                - @empresas_forestales.each do |empresa_forestal|
                  %tr
                    %td= empresa_forestal.nombre
                    %td= empresa_forestal.abreviado
                    %td= empresa_forestal.rif
                    %td= empresa_forestal.direccion_fiscal
                    %td= empresa_forestal.telefono
                    %td= empresa_forestal.pais.nombre
                    %td.text-center
                      - if can? :view, EmpresaForestal
                        = link_to empresa_forestal do
                          %i.fa.fa-search
                      - if can? :update, EmpresaForestal
                        = link_to  edit_empresa_forestal_path(empresa_forestal) do
                          %i.fa.fa-pencil-square-o
                      - if can? :destroy, EmpresaForestal
                        = link_to  empresa_forestal, method: :delete, data: { confirm: '¿Seguro que desea Eliminar Empresa?' } do
                          %i.fa.fa-trash-o
                      - if (can? :create, EmpresaForestal) and (can? :update ,EmpresaForestal)
                        -documento_requisito = Vista.find_documentos_requisitos(:registro_empresa_forestal).last
                        =link_to '#',{"data-toggle"=>"modal","data-target"=>"##{documento_requisito.nombre.camelize+empresa_forestal.id.to_s}"} do
                          %span.fa.fa-picture-o

                        %div.modal.fade{id:documento_requisito.nombre.camelize+empresa_forestal.id.to_s,"aria-hidden" => "true", "aria-labelledby" => "poderNotariadoModalLabel", :role => "dialog", :tabindex => "-1"}
                          .modal-dialog.modal-lg
                            .modal-content
                              .modal-header.blue-bg
                                %button.close{"data-dismiss" => "modal", :type => "button"}
                                  %span{"aria-hidden" => "true"} &times;
                                %h4.modal-title
                                  =documento_requisito.descripcion
                              .modal-body
                                = render 'shared/documentos/jquery_file_upload', modelo: empresa_forestal, vista: :registro_empresa_forestal, documento_requisito: documento_requisito
                              .modal-footer
                                Al cargar el documento completo:
                                %a.btn{"data-dismiss" => "modal"}
                                  Cerrar Ventana
                                  %span{"aria-hidden" => "true"} &times;
