<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa_forestal.nombre %>
</p>

<p>
  <strong>Abreviado:</strong>
  <%= @empresa_forestal.abreviado %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @empresa_forestal.rif %>
</p>

<p>
  <strong>Direccion fiscal:</strong>
  <%= @empresa_forestal.direccion_fiscal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresa_forestal.telefono %>
</p>

<%= link_to 'Edit', edit_empresa_forestal_path(@empresa_forestal) %> |
<%= link_to 'Back', empresas_forestales_path %>
