= provide(:title, 'Visualizar Empresa Forestal')
.row
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-title
        %h3
          Empresa Forestal
          %span
            %i.fa.fa-building
      .ibox-content
        .col-lg-12
          %h3
            Datos
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th
                Nombre
              %th
                Nombre Abreviado
              %th
                RIF
              %th
                Direccion
              %th
                Teléfono
            %tbody
              %tr
                %td
                  #{@empresa_forestal.nombre}
                %td
                  #{@empresa_forestal.abreviado}
                %td
                  #{@empresa_forestal.rif}
                %td
                  #{@empresa_forestal.direccion_fiscal}
                %td
                  #{@empresa_forestal.telefono}

= render 'shared/documentos/modelo_documentos', model: @empresa_forestal,nombre_vista_param: :registro_empresa_forestal

.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-sm-2
            = link_to 'Listar Empresas Forestales',
            empresas_forestales_path,
            class: "btn btn-info"
          .col-sm-3.pull-right
            = link_to 'Editar Empresa Forestal',
            edit_empresa_forestal_path(@empresa_forestal),
            class: "btn btn-success"

%br
%br
%br