.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-database
      Administradores de Empresas Forestales
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Administradores Registrados

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to users_new_path, class: 'btn btn-primary' do
                Nuevo Administrador Empresa Forestal
                &nbsp;
                %i.fa.fa-plus
          %br
          .row
            .col-md-12
              .table-responsive
                %table.table.table-striped.table-bordered.table-hover.dataTables-example
                  %thead
                    %tr
                      %th Avatar
                      %th Username
                      %th Email
                      %th Nombre
                      %th Teléfono Celular
                      %th Empresa Forestal
                      %th Rol
                      %th Bloqueado
                      %th Acciones
                  %tbody
                    - User.forestal_admins.each do |user|
                      %tr
                        %td.text-center= image_tag user.avatar.url || 'tree.png', class: 'img-circle', height: 50
                        %td= user.username
                        %td= user.email
                        %td= user.name
                        %td= user.cellphone
                        %td= user.empresa_forestal.nombre rescue 'NULL'
                        %td= user.role.name_type rescue 'NULL'
                        %td= user.locked ? 'Si' : 'No'
                        %td
                          = link_to user_edit_user_path(user) do
                            %i.fa.fa-pencil
                            Editar
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          = link_to user_delete_user_path(user), data: { confirm: "Seguro que desea eliminar al usuario #{user.username}?" }, method: :delete do
                            %i.fa.fa-trash
                            Eliminar



